:root {
    /* Font */
    --font-family-main: "Poppins", sans-serif;

    /* Colors */
    --color-primary: #ffd1da;
    --color-primary-hover: #fbd8df;
    --color-secondary: #808080;
    --color-background: #ffffff;

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family-main);
}

body {
    height: 1000vh;
    background-color: var(--color-background);
    line-height: 1.5;
    font-family: var(--font-family-main);
}

/* Navbar */
.navbar {
    position: fixed;
    top: 15px;
    left: 0;
    right: 0;
    z-index: 100;
    width: 90%;
    max-width: 1200px;
    height: 88px;
    margin: 0 auto;
    padding: 5px 20px;
    border-radius: 24px;
    background-color: var(--color-background);
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
}

.logo-top {
    display: flex;
    align-items: center;
    width: 100%;
}

.navbar-nav {
    display: flex;
    flex-direction: row; /* Mengatur elemen ul menjadi horizontal */
    list-style: none; /* Menghapus bullet point */
    padding: 0;
    margin: 0;
}

.nav-link {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #808080;;
    padding: 5px 10px;
}


#nav-avatar {
    width: 71px;
    height: 70px;
    object-fit: contain;
    border-radius: 100%;
}


/* Tabel */
h1 {
    text-align: center;
    margin-top: 120px; /* Tambahkan jarak untuk navbar */
    font-size: 2.5rem;
    color: var(--color-text-dark);
}

table {
    width: 78%;
    margin: 30px auto;
    border-collapse: collapse;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: var(--color-background);
}

thead {
    background-color: #fc839b;
    color: white;
}

th,
td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    font-weight: bold;
}

td {
    color: var(--color-text-light);
}

td:first-child,
th:first-child {
    width: 150px;
}

td:last-child,
th:last-child {
    width: 150px;
}
