:root {
    /* Font */
    --font-family-main: "Poppins", sans-serif;
  
    /* Colors */
    --color-primary: #ffd1da; 
    --color-primary-hover: #fbd8df; 
    --color-secondary: #808080; 
    --color-background: #ffffff; 
  
  }
  
  
  .navbar {
    position: fixed;
    top: 15px;
    left: 0;
    right: 0;
    z-index: 100;
    width: 1186px;
    max-width: 100%;
    height: 88px;
    margin: 0 auto;
    padding: 5px;
    border-radius: 24px;
    background-color: var(--color-background);
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
  
  }
  
  #nav-avatar {
    width: 71px; 
    height: 70px; 
    object-fit: contain; 
    border-radius: 100%;
  }
  
  #nav-text {
    font-family: var(--font-family-main);
    font-size: 14px;
    font-weight: bold;
    color: #808080;
  }
  
  .logo-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
body {
    height: 150vh;
    font-family: "Poppins", sans-serif;
    background-color: var(--color-background);
    padding: 100px;
    font-size: 16px;
  }

  .container {
  margin: 0 auto;
  margin-top: 140px;
  width: 1200px;
  max-width: 100%;
  height: auto;

}


/* Button */
.btn-pink {
  background-color: #FBA1B7;
  color: white;
}

.btn-pink:hover {
  background-color: #feadc1;
  color: white;
  border: none;
}

.btn-pink:hover:active{
  background-color: #feadc1;
  color: white;
}

.form-label{
  color: var(--color-secondary);
}

.form-label span{
  color: red;
}

.form-control{
  background-color: #F5F5F5;
  height: 50px;
}

.form-check-input{
  cursor: pointer;
}


.form-check-input:focus{
  box-shadow: none;
  outline: none;

}


.form-check-input:checked{
  background-color:var(--color-primary);
  border: none;
  outline: none;
  box-shadow: none;
}

.row{
  align-items: flex-start; 
  gap: 160px;
  max-width: 1200px;

}

.col-md-6{
  flex: 1;
  max-width: 500px; /* Sesuaikan jarak antar kolom */
  width: 500px;
  height: 424px;
}

.col-md-4{
  flex: 1;
  padding: 0;
  margin-top: 20px;
}

.breadcrumb {
  color: #FBA1B7;
  padding: 10px; /* Ruang di dalam breadcrumb */
  gap: 6px;
  align-items: center;
}

.breadcrumb-item a {
  color: #FBA1B7; /* Warna teks link */
  text-decoration: none; /* Menghilangkan garis bawah */
}

.breadcrumb-item.active a {
  color: #FBA1B7; /* Warna teks untuk item aktif */
  pointer-events: none; /* Nonaktifkan klik pada item aktif */
  text-decoration: none;
}