:root {
    /* Font */
    --font-family-main: "Poppins", sans-serif;

    /* Colors */
    --color-primary: #ffd1da;
    --color-primary-hover: #fbd8df;
    --color-secondary: #808080;
    --color-background: #ffffff;

}


.navbar {
    position: fixed;
    top: 15px;
    left: 0;
    right: 0;
    z-index: 100;
    width: 1186px;
    max-width: 100%;
    height: 88px;
    margin: 0 auto;
    padding: 5px;
    border-radius: 24px;
    background-color: var(--color-background);
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);

}

#nav-avatar {
    width: 71px;
    height: 70px;
    object-fit: contain;
    border-radius: 100%;
}

#nav-text {
    font-family: var(--font-family-main);
    font-size: 14px;
    font-weight: bold;
    color: #808080;
}

.logo-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu a {
    position: relative;
    display: inline-block;
    text-decoration: none;
      font-family: var(--font-family-main);
  font-size: 14px;
  font-weight: bold;
  color: #808080;
    
    padding: 8px 16px; /* Sesuaikan padding */
    transition: color 0.3s ease; /* Opsional: transisi warna */
}

/* Pseudo-elemen untuk garis bawah */
.menu a::before {
    content: "";
    width: 50%; /* Lebar garis diatur menjadi 50% */
    height: 3px;
    border-radius: 10px;
    position: absolute;
    left: 50%; /* Posisikan garis di tengah */
    bottom: 0;
    background: #FBA1B7; /* Warna garis */
    transform: scale3d(0, 1, 1); /* Garis awal dengan lebar 0 */
    transform-origin: 50% 50%; /* Mulai dari tengah */
    transition: transform 0.5s ease; /* Transisi animasi */
    margin-left: -25%; 
}

.menu .current-page {
    color: #000; /* Ubah warna teks menjadi hitam saat aktif */
}

/* Efek hover */
.menu a:hover::before {
    transform: scale3d(1, 1, 1); /* Perluas garis ke ukuran yang ditentukan (50%) */
    color: #000000;
}

/* Garis tetap muncul pada halaman aktif */
.menu .current-page::before {
    transform: scale3d(1, 1, 1); /* Perluas garis ke ukuran penuh */
    color: #000000;
    
}

a.dropdown-item:hover .edit-icon {
    content: url('/static/edit-red.png'); /* Gambar merah untuk Edit */
}

/* Mengganti gambar menjadi logout-red.png ketika link "Logout" di-hover */
a.dropdown-item:hover .logout-icon {
    content: url('/static/logout-red.png'); /* Gambar merah untuk Logout */
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    height: 100vh;
    font-family: "Poppins", sans-serif;
    background-color: var(--color-background);
}

.product-image {
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    background-color: #f8f9fa;
    width: 100%;
    height: 400px;
    border-radius: 10px;
}


.btn-pink {
    background-color: #FBA1B7;
    color: white;
    border: none;
    margin-left: 10px;
}

.btn-pink:hover {
    background-color: #FBA1B7;
}

.container {
    padding: 100px;
}

hr {
    border: 1px solid #000;
}

footer {
    background-color: #FBA1B7;
    padding: 30px 20px;
    color: #ffffff;
    margin-top: 150px;
    position: relative;
}

.footer-container {
    display: flex;
    max-width: 1000px;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: auto;
    margin-bottom: 40px;
}

.footer-left {
    flex: 1;
}

.footer-left h3 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
}

.footer-left p {
    margin-top: 10px;
    line-height: 1.6;
    text-align: justify;
}

.social-icons {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

.footer-center {
    flex: 1;
    text-align: center;
}

.footer-center h3 {
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
}

.footer-center ul {
    list-style: none;
    padding: 0 0 0 92px;
    margin-top: 10px;
    text-align: left;
}

.footer-center li {
    margin-bottom: 5px;
}

.footer-center a {
    text-decoration: none;
    color: #ffffff;
}

.footer-right {
    flex: 1;
    text-align: right;
}

.footer-right h3 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
}

.footer-copyright {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 0.9rem;
    color: #fafafabc
}

.social-icons {
    display: flex;
    gap: 20px;
}