:root {
  /* Font */
  --font-family-main: "Poppins", sans-serif;

  /* Colors */
  --color-primary: #ffd1da;
  --color-primary-hover: #fbd8df;
  --color-secondary: #808080;
  --color-background: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family-main);
}

body {
  height: auto;
  font-family: "Poppins", sans-serif;
  background-color: var(--color-background);
  line-height: 1.5;
}

.navbar {
  position: fixed;
  top: 15px;
  left: 0;
  right: 0;
  z-index: 100;
  width: 1186px;
  max-width: 100%;
  height: 88px;
  margin: 0 auto;
  padding: 5px;
  border-radius: 24px;
  background-color: var(--color-background);
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
}

#nav-avatar {
  width: 71px;
  height: 70px;
  object-fit: contain;
  border-radius: 100%;
}

#nav-text {
  font-family: var(--font-family-main);
  font-size: 14px;
  font-weight: bold;
  color: #808080;
}

.logo-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  padding: 0 20px;
  margin: 0 auto;
  margin-top: 140px;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


img-fluid {
  width: 651px;
  height: 439px;
}

h1 {
  font-size: 61px;
  margin: 0;
  font-weight: bold;
}

.welcometopubgmobile {
  font-size: 21px;
  font-weight: 500;
  text-align: justify;
  color: #666;
  margin: 0;
}

.btn-primary {
  background-color: var(--color-primary);
  border-radius: 10px;
  outline: none;
  border: none;
  color: black;
  font-size: 19px;
  font-weight: 500;
  padding: 15px 20px;
  margin-top: 25px;
}

.row {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  gap: 15px;
}

.section-title{

  padding: 0 20px;
  margin: 0 auto;
  margin-top: 40px;
  max-width: 1200px;
  gap: 8px;
}

.section-desc{
  display: flex;
  align-items: baseline;
   gap: 8px;
}

.section-title h2{
  font-size: 16px;
  font-weight: bold;
  color: #FBA1B7;
}

.section-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.section-header h1{
  font-size: 36px;
  font-size: 500;
  margin-left: 8px;
  margin-top: 5px;
}

.section-header button{
  border-radius: 10px;
  font-size: 16px;
  margin-right: 7px;
  margin-bottom: 30px;
}

#wrapper-desc {
  width: 469px;
}

.btn-primary:hover {
  background-color: var(--color-primary-hover);
}

#menu-container{
  gap: 25px;
}

.menu-card {
  border: 1px solid #ddd;
  text-align: center;
  padding: 15px;
  border-radius: 10px;
  transition: transform 0.2s;
  background-color: #fff;
  width: 170px;
  height: 145px;
}
.menu-card img {
  width: 100%;
  max-width: 80px;
  height: 60px;
  margin-bottom: 10px;
  border-radius: 10;
}
.menu-card:hover {
  transform: scale(1.05);
}

.menu-card p{
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}

#product-container{
  display: flex;
  flex-wrap: wrap; 
  gap: 15px;
}

.product-card {
  transition: transform 0.2s;
  background-color: #fff;
  width: 270px;
  height: 322px;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center; 
  margin-left: 10px;
  margin-right: 10px;

}

.product-card:hover {
  transform: scale(1.05);
}

.product-card p{
  text-align: left;
  font-size: 16px;
  font-weight: 450;
  width: 100%;
  margin-left: 3px;
}

.product-title{
  color: black;
}

.product-price{
  color: #FBA1B7;
  margin-top: 5px;
}

.product-card img {
  border-radius: 10px;
  width: 270px;
  height: 250px;
  object-fit: cover; 
  border-radius: 10;
  cursor: pointer;
}

footer {
  background-color: #FBA1B7;
  padding: 30px 20px;
  color: #ffffff;
  position: relative;
  margin-top: 75px;
}

.footer-container {
  display: flex;
  max-width: 1000px;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin: auto;
  margin-bottom: 40px;
}

.footer-left {
  flex: 1;
}

.footer-left h3 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.footer-left p {
  margin-top: 10px;
  line-height: 1.6;
  text-align: justify;
}

.social-icons {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.footer-center {
  flex: 1;
  text-align: center;
}

.footer-center h3 {
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
}

.footer-center ul {
  list-style: none;
  padding: 0 0 0 92px;
  margin-top: 10px;
  text-align: left;
}

.footer-center li {
  margin-bottom: 5px;
}

.footer-center a {
  text-decoration: none;
  color: #ffffff;
}

.footer-right {
  flex: 1;
  text-align: right;
}

.footer-right h3 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.footer-copyright {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 0.9rem;
  color: #fafafabc
}

.social-icons {
  display: flex;
  gap: 20px;
}

@keyframes slideInUp {
  from {
    opacity: 0;
    transform: translateY(-100%); /* Muncul dari atas */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* Ke posisi awal */
  }
}

@keyframes slideOutUp {
  from {
    opacity: 1;
    transform: translateY(0); /* Dari posisi awal */
  }
  to {
    opacity: 0;
    transform: translateY(-100%); /* Keluar ke atas */
  }
}
.custom-alert {
  position: fixed;
  top: 0;
  right: 20px;
  margin-top: 20px;
  padding: 20px;
  background-color: #ffd1da;
  color: var(--color-background);
  border: 1px solid #ffd1da;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: none; 
  z-index: 9999;
  text-align: center;
  animation: slideInUp 0.5s ease-out; /* Tambahkan animasi */
}

.custom-alert.hide {
  animation: slideOutUp 0.8s ease-out forwards; /* Animasi keluar */
}