.container {
  padding: 0 20px;
  margin: 0 auto;
  margin-top: 140px;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


img-fluid {
  width: 651px;
  height: 439px;
  margin: 0;
}

.btn-primary {
  background-color: var(--color-primary);
  border-radius: 10px;
  outline: none;
  border: none;
  color: black;
  margin-top: 25px;
}

.row {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  gap: 15px;
}

.section-title{

  padding: 0 20px;
  margin: 0 auto;
  margin-top: 40px;
  max-width: 1200px;
  gap: 8px;
}

.section-desc{
  display: flex;
  align-items: baseline;
   gap: 8px;
}

.section-title h2{
  font-size: 16px;
  font-weight: bold;
  color: #FBA1B7;
}

.section-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.section-header h1{
  font-size: 36px;
  font-size: 500;
  margin-left: 8px;
  margin-top: 5px;
}

.section-header button{
  border-radius: 10px;
  font-size: 16px;
  margin-right: 7px;
  margin-bottom: 30px;
}

#wrapper-desc {
  width: 469px;
}

.btn-primary:hover {
  background-color: var(--color-primary-hover);
}

#menu-container{
  gap: 25px;
}

.menu-card {
  border: 1px solid #ddd;
  text-align: center;
  padding: 15px;
  border-radius: 10px;
  transition: transform 0.2s;
  background-color: #fff;
  width: 170px;
  height: 145px;
}
.menu-card img {
  width: 100%;
  max-width: 80px;
  height: 60px;
  margin-bottom: 10px;
  border-radius: 10;
}
.menu-card:hover {
  transform: scale(1.05);
}

.menu-card p{
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}

#product-container{
  display: flex;
  flex-wrap: wrap; 
  gap: 15px;
}

.product-card {
  transition: transform 0.2s;
  background-color: #fff;
  width: 270px;
  height: 322px;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center; 
  margin-left: 10px;
  margin-right: 10px;

}

.product-card:hover {
  transform: scale(1.05);
}

.product-card p{
  text-align: left;
  font-size: 16px;
  font-weight: 450;
  width: 100%;
  margin-left: 3px;
}

.product-title{
  color: black;
}

.product-price{
  color: #FBA1B7;
  margin-top: 5px;
}

.product-card img {
  border-radius: 10px;
  width: 270px;
  height: 250px;
  object-fit: cover; 
  border-radius: 10;
  cursor: pointer;
}