.navbar {
    position: fixed;
    top: 15px;
    left: 0;
    right: 0;
    z-index: 10;
    width: 80%; 
    margin: 0 auto;
    border-radius: 24px;
    background-color: #ffffff;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1); 
}

#nav-avatar {
    width: 50px; /* Atur lebar gambar */
    height: 50px; /* Atur tinggi gambar */
    object-fit: contain; /* Memastikan gambar tetap proporsional */
    margin-right: 15px;
    
  }

#nav-text{
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #acacac;
}

.logo-top{
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Poppins", sans-serif;
    background-color: #ffffff;
}

.container {
    display: flex;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    align-items: center;
    gap: 40px;
    padding: 20px;
    flex-wrap: wrap; /* Elemen akan berpindah ke bawah jika tidak cukup ruang */
    justify-content: center; /* Pusatkan elemen */
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.dessert-image {
    width: 100%;
    max-width: 700px;
    height: auto;
    border-radius: 10px;
    margin-right: 70px;
}

.form-container {
    width: 28%;
    display: flex;
    max-width: 500px;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    margin-left: 70px;
    
}

h2 {
    margin-bottom: 10px;
    font-size: 36px;
    color: #000000;
}

p {
    margin-bottom: 30px;
    font-size: 16px;
    color: #000000;

}

form {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 15px;
}

.login-btn {
    background-color: #FFD1DA;
    color: #000000;
    border: none;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 10px;
}

.login-btn:hover {
    background-color: #fdfdfd;
}

a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

