:root {
    /* Font */
    --font-family-main: "Poppins", sans-serif;



    /* Colors */
    --color-primary: #ffd1da;
    --color-primary-hover: #fbd8df;
    --color-secondary: #808080;
    --color-background: #ffffff;
    --color-price: #DB4444;

}

 /* ini navbar nya bang */
 /* ini navbar nya bang */


.navbar {
    position: fixed;
    top: 15px;
    left: 0;
    right: 0;
    z-index: 100;
    width: 1186px;
    max-width: 100%;
    height: 88px;
    margin: 0 auto;
    padding: 5px;
    border-radius: 24px;
    background-color: var(--color-background);
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
}

#nav-avatar {
    width: 71px;
    height: 70px;
    object-fit: contain;
    border-radius: 100%;
}

#nav-text {
    font-family: var(--font-family-main);
    font-size: 14px;
    font-weight: bold;
    color: #808080;
}

.logo-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Beresan Navbar nya bangg */
/* Beresan Navbar nya bangg */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    height: 100vh;
    font-family: "Poppins", sans-serif;
    background-color: var(--color-background);
}

.container {
    margin: 0 auto;
    margin-top: 140px;
    width: 1200px;
    max-width: 100%;
    height: auto;
    margin-left: 150px;
}

.custom-card {
    width: 280px;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    border: none;
}

.custom-card img {
    width: 250px; 
    height: 250px; 
    object-fit: cover; 
    border-radius: 10px;
    background-color: #F5F5F5;
    display: block; 
    margin: 0 auto; 
}


.custom-card .card-title {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    text-align: left
}

.custom-card .card-text {
    font-size: 14px;
    color: var(--color-price);
    text-align: left
}


#logo-cart {
    position: absolute;
    right: 15px;
    bottom: 23px;
    max-width: 40px;
    height: auto;
    transform: none;
    background-color: transparent;
}

.section-title {
    text-align: left; 
    margin-left: 0; 
    padding-left: 15px; 
    font-size: 20px; 
    color: #FBA1B7;
}

.btn-dropdown {
    background-color: transparent;
    color: #333;
    font-weight: 500;
    padding: 0;
    border: none;
    box-shadow: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.dropdown-custom {
    background-color: white;
    border: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    min-width: 200px;
    padding: 10px 0;
}

.dropdown-item {
    color: #333;
    padding: 8px 16px;
    font-size: 14px;
    transition: background-color 0.2s ease-in-out;
}

.dropdown-item:hover {
    background-color: #f5f5f5;
}

.btn-dropdown p {
    color: #888888; 
    font-size: 16px;
}

.btn-dropdown p a {
    color: #000000 !important;
}

.row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    justify-content: start;
}