<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sweet Dessert</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/checkout.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Playpen+Sans:wght@100..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

        <nav class="navbar navbar-expand-lg ">
            <div class="container-fluid">
                <div class="logo-top">
                    <img src="/static/logo.png" alt="animation-head" id="nav-avatar" />
                    <ul class="navbar-nav ms-auto gap-1 menu">
                        <li class="nav-item">
                            <a class="nav-link {% if current_page == 'home' %}current-page{% endif %}"
                                href="{{ url_for('home') }}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if current_page == 'product' %}current-page{% endif %}"
                                href="{{ url_for('product') }}">Product</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if current_page == 'about' %}current-page{% endif %}"
                                href="{{ url_for('about') }}">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if current_page == 'contact' %}current-page{% endif %}"
                                href="{{ url_for('contact') }}">Contact</a>
    
                        </li>
                    </ul>
    
    
                </div>
    
    
    
                <div class="justify-content-space-between" id="navbarNav">
                    <ul class="navbar-nav ms-auto gap-5 me-3 d-flex align-items-center">
                        <li class="nav-item">
                            <a href="{{ url_for('cart') }}"><img src="/static/chart.png" alt=""></a>
                        </li>
    
    
                        <li class="nav-item dropdown"
                            onmouseover="this.classList.add('show'); this.querySelector('.dropdown-menu').classList.add('show');"
                            onmouseout="this.classList.remove('show'); this.querySelector('.dropdown-menu').classList.remove('show');">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button">
                                <img src="/static/profile.png" alt="Profile">
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="right: 10%;">
                                {% if session['role'] == 'admin' %}
                                <li>
                                    <a class="dropdown-item" href="{{ url_for('admin') }}">
                                        <img src="/static/dashboard.png" alt="" class="dashboard-icon"
                                            style="width: 20px; height: 20px; vertical-align: middle; margin-right: 8px;">
                                        Dashboard
                                    </a>
                                </li>
                                {% endif %}
                                <li>
                                    <a class="dropdown-item" href="{{ url_for('profile') }}">
                                        <img src="/static/edit.png" alt="" class="edit-icon"
                                            style="width: 20px; height: 20px; vertical-align: middle; margin-right: 8px;">
                                        Edit Profile
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{{ url_for('logout') }}">
                                        <img src="/static/logout.png" alt="" class="logout-icon"
                                            style="width: 20px; height: 20px; vertical-align: middle; margin-right: 8px;">
                                        Logout
                                    </a>
                                </li>
                            </ul>
    
    
                </div>
    
                <div id="custom-alert" class="custom-alert" style="display:none;">
                    <span id="alert-message"></span>
                </div>
    
    
            </div>
        </nav>
    <div class="container mt-5">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <div class="clip"><img src="/static/clip.png" alt=""></div>
                <li class="breadcrumb-item"><a href="#">Product</a></li>
                <li class="breadcrumb-item"><a href="#">View Cart</a></li>
                <li class="breadcrumb-item active"><a href="#">Checkout</a></li>
            </ol>
        </nav>
        <h2 class="mb-4">Billing Details</h2>
        <div class="row">
            <!-- Billing Form -->
            <div class="col-md-6">
                <form id="billingForm" action="{{ url_for('invoice') }}" method="post">
                    <div class="mb-3">
                        <label for="name" class="form-label">Name <span>*</span></label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name"
                            required>
                    </div>
                    <div class="mb-3">
                        <label for="tableNumber" class="form-label">No Table <span>*</span></label>
                        <input type="text" class="form-control" id="tableNumber" name="tableNumber"
                            placeholder="Enter table number" required>
                    </div>
                    <div class="mb-3">
                        <label for="phoneNumber" class="form-label">Phone Number <span>*</span></label>
                        <input type="text" class="form-control" id="phoneNumber" name="phoneNumber"
                            placeholder="Enter phone number" required>
                    </div>
                    <div class="mb-3">
                        <label for="emailAddress" class="form-label">Email Address <span>*</span></label>
                        <input type="email" class="form-control" id="emailAddress" name="emailAddress"
                            placeholder="Enter your email" required>
                    </div>
                    <!-- Hidden inputs for the product details -->
                    <input type="hidden" name="product_name" value="{{ product.name }}">
                    <input type="hidden" name="quantity" value="{{ quantity }}">
                    <input type="hidden" name="subtotal_price" value="{{ subtotal_price }}">
                    <input type="hidden" name="total_price" value="{{ total_price }}">
                </form>
            </div>

            <!-- Order Summary -->
            <div class="col col-md-4">
                <div class="p-2 rounded">
                    <ul class="list-unstyled mb-4">
                        <li class="d-flex justify-content-between">
                            <span>{{ product.name }}</span>
                            <span class="text-center">{{ quantity }}</span>
                            <span>Rp. {{ subtotal_price }}</span>
                        </li>
                    </ul>
                    <hr>
                    <div class="d-flex justify-content-between mb-3">
                        <strong>Total:</strong>
                        <strong>Rp. {{ total_price }}</strong>
                    </div>
                    <div class="mb-3">
                        <label class="d-block">Payment Method</label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="paymentMethod" id="eWallet" value="Qris">
                            <label class="form-check-label" for="eWallet">Qris</label>
                        </div>
                    </div>
                    <!-- Button linked to form -->
                    <button type="submit" class="btn btn-pink w-100" form="billingForm">Place Order</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>