<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/dashboard.css">
</head>
<body>
    <div class="sidebar">
        <div class="logo">
            <h1>Sweet Dessert™</h1>
        </div>
        <ul class="nav">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Invoices</a></li>
            <li><a href="#">Users</a></li>
        </ul>
    </div>

    <div class="main-content">
        <header>
            <div class="header-left">
                <h2>Dashboard</h2>
            </div>
            <div class="header-right">
                <p>Hello, cakalangfufuuu!</p>
            </div>
        </header>

        <section class="earnings">
            <div class="container">
        <div class="section-title">
    <span class="section-highlight"></span>
    <div class="clip"><img src="{{ url_for('static', filename='clip.png') }}" alt=""></div>
    <h2>Invoices</h2>
</div>
<table>
    <thead>
            <tr>
                <th>Name</th>
                <th>Table Number</th>
                <th>Phone Number</th>
                <th>Email</th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Total Price</th>
            </tr>
        </thead>
        <tbody>
            {% for invoice in invoices %}
            <tr>
                <td class="name">{{ invoice.name }}</td>
                <td>{{ invoice.table_number }}</td>
                <td>{{ invoice.phone_number }}</td>
                <td class="email">{{ invoice.email_address }}</td>
                <td>{{ invoice.product_name }}</td>
                <td>{{ invoice.quantity }}</td>
                <td class="total">Rp. {{ invoice.total_price }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</body>
</html>
