<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Page</title>
</head>

<body>
    <h1>Order Summary</h1>
    <table border="1" cellpadding="10" cellspacing="0">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Subtotal</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>Rp. {{ product.price }}</td>
                    <td>{{ product.quantity }}</td>
                    <td>Rp. {{ product.subtotal_price }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>
